:root{
    --main-color:#D1B000;
    --black:#13131a;
    --bg:#010103;
    --border: 4px solid rgba(255,255,255,0.3);

}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: Georgia;
    box-sizing: border-box;
    outline: none;
    border: 0;
   
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: .5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.btn{
    width: 200px;
    margin-top: 1rem;
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    color: black;
    background: rgb(202, 199, 199);
    border-radius: 7px;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .1rem;
    background: transparent;
    color: whitesmoke;
    border: 3px solid whitesmoke;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header .logo img{
    width:90px;
    height:60px;
    border-radius: 70px;
}
.header .logo p{
    padding-top: 5px;
    margin-left: 0px;
    color:antiquewhite;
    font-size: 15px;
    font-weight: 600;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 2.4rem;
    color: #fff;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--main-color);
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
.header .search-form label:hover{
    color: var(--main-color);
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("https://mycvcreator.com/administrator/postimages/62ba257e5a5506.68029277.jpg");
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 60rem;
}
.home .content h3{
    font-size: 6rem;
    color: #fff;
}
.home .content h3 span{
    font-size: 6rem;
    color:rgb(241, 210, 169);
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}
.home .content a{
    text-align: center;
}
/* Media Queries */
@media (max-width: 991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}
@media (max-width: 768px) {
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: black;
        color: rgb(239, 232, 223);
        box-shadow: 0 20px 20px whitesmoke;
        width: 30rem;
        height: calc(100vh - 9rem);
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        margin: 1.5rem;
        padding: 20px;
        font-size: 20px;
        color: antiquewhite;
    }
    .header .search-form{
        width: 95%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    .header .search-form{
        width: 92%;
        right: 1.5rem;
    }
}